RewriteEngine on
#RewriteRule ^dashboard$ index.php?c=views&a=dashboard
 RewriteRule ^dashboard$ index.php
RewriteRule ^landing$ landing.php

#--------------------------------------------------------------------------
# LOGIN
RewriteRule ^inicio$             index.php

RewriteRule ^crear-auth$         index.php?c=auth&a=viewsCreate
RewriteRule ^new-user$         index.php?c=auth&a=nuewUser

#Inserta(guarda) el NUEVO registro ingresado en el formulario
RewriteRule ^guardar-visitante$ index.php?c=users&a=newUser

RewriteRule ^acceso$                index.php?c=auth&a=userAuth
RewriteRule ^acceso/validoEmail$    index.php?c=auth&a=validEmail
RewriteRule ^acceso/validoEmailNew$ index.php?c=auth&a=validEmailNew
RewriteRule ^cerrar-sesion$         index.php?c=auth&a=logout


#SECCION USUARIOS
RewriteRule ^gestion-users$ index.php?c=users

#CREAR registro en Formulario (NUEVO)
RewriteRule ^crear-user$ index.php?c=users&a=viewsCreate
#Inserta(guarda) el NUEVO registro ingresado en el formulario a la DB
RewriteRule ^guardar-user$ index.php?c=users&a=newUsers

#UPDATE
#Carga registro en el FORMULARIO para ser modificado
RewriteRule ^actualizar-user-(\w+)$ index.php?c=users&a=viewsUpdate&data=$1
#GUARDA los CAMBIOS Update del fomrulario a la DB
RewriteRule ^actualizando-user index.php?c=users&a=updateUser

#ELIMINAR
RewriteRule ^eliminar-user-(\w+)$ index.php?c=users&a=deleteUser&data=$1

#ver DETALLE
RewriteRule ^ver-detalle-user-(\w+)$ index.php?c=users&a=viewsDetail&data=$1





#--------------------------------------------------------------------------
#SECCION TPDC
RewriteRule ^gestion-tpdc$ index.php?c=tpdc

#CREAR registro en Formulario (NUEVO)
RewriteRule ^crear-tpdc$ index.php?c=tpdc&a=viewsCreate
#Inserta(guarda) el NUEVO registro ingresado en el formulario a la DB
RewriteRule ^guardar-tipoPdc$ index.php?c=tpdc&a=newTpdc

#(\w+)$ &=$1 para pasar las variables

#UPDATE
#Carga registro en el FORMULARIO para ser modificado
RewriteRule ^actualizar-tpdc-(\w+)$ index.php?c=tpdc&a=viewsUpdate&data=$1
#GUARDA los CAMBIOS Update del fomrulario a la DB
RewriteRule ^actualizando-tipoPdc$ index.php?c=tpdc&a=updateTpdc

#ELIMINAR
RewriteRule ^eliminar-tpdc-(\w+)$ index.php?c=tpdc&a=deleteTpdc&data=$1

#ver DETALLE
RewriteRule ^ver-detalle-tpdc-(\w+)$ index.php?c=tpdc&a=viewsDetail&data=$1
#--------------------------------------------------------------------------


#--------------------------------------------------------------------------
#SECCION PDC
RewriteRule ^gestion-pdc$ index.php?c=pdc

RewriteRule ^crear-pdc$ index.php?c=pdc&a=viewsCreate
RewriteRule ^guardar-pdc$ index.php?c=pdc&a=newPdc

#UPDATE
RewriteRule ^actualizar-pdc-(\w+)$ index.php?c=pdc&a=viewsUpdate&data=$1
RewriteRule ^actualizar-pdc$ index.php?c=pdc&a=updatePdc

#ELIMINAR
RewriteRule ^eliminar-pdc-(\w+)$ index.php?c=pdc&a=deletePdc&data=$1

#ver DETALLE
RewriteRule ^ver-detalle-pdc-(\w+)$ index.php?c=pdc&a=viewsDetail&data=$1
#--------------------------------------------------------------------------



#--------------------------------------------------------------------------
#SECCION SECURITY
#RewriteRule ^gestion-security$ index.php?c=security


#Busca el correo del usuario
#RewriteRule ^buscar-usuario-(\w+)$ index.php?c=securityc&a=viewsLocate&data=$1
