/*
author: evelin herrera
license: apache 2.0
company: cinestres
update: actualizaciones fecha y lo que se actualizo

CONTENT RYLES CSS

1. menu principal
2.top--nav
*/
@import "reset.css";
@import "colors.css";
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700|Roboto');

section.container{
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  background: #efefef;
}

.main--nav {
  max-width: 250px;
  min-width: 250px;
  /*background:#230F2B;*/
  min-height: 100vh;
  /*color: #eee;*/
}

.main--nav nav ul{
  margin-top: 10px;
  padding-top: 20px,
  border-top: 2px solid rgba(255,255,255,0.3);
  box-shadow: 0 -5px 0 rgba(0,0,0,0.2); /*Efecto de escalas o bordes profundos*/
}

.main--nav nav ul li{
  padding: 10px;
  /*transition: 0.5s all;*/
  transition: 0.8s border-bottom;
}

.main--nav nav ul li:hover{
  background-color: #eee;
  color: #230F2B;
  border-left: 14px solid #C7AC18;
  transition: .07s;
}

.userProfile {
  width: 90%;
  padding: 20px 15px;
  box-sizing: border-box;
  margin: auto;
  text-align: center;
  color: #EBEBBC;
}

.userProfile--img{
  width: 70%;
  margin:0 auto 20px;
  border-radius: 50px;
}

.userProfile--img img{
  border-radius: 180px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}

.userPprofile--name h2{
  font-family: "oswald";
  font-weight: 700;
}

.wrap--content{
  width: 100%;
}

.wrap--content .menu--top{
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
}

.wrap--content .menu--top ul{
  width: 200px;
  display: flex;
  justify-content: space-around;
}

.wrap--content .menu--top2 {
    display: flex;
    justify-content: flex-end;
    padding: 0px 0px;
}

.wrap--content .menu--top2 ul{
  width: 420px;
  display: flex;
  justify-content: space-around;
}

.wrap--content article{
  background: white;
  width: 90%;
  padding: 20px;
  box-sizing: border-box;
  margin: 40px auto;
  border-radius: 10px;
}

.bienvenida {
  width: 100%;
  padding: 15px;
  /*box-sizing: border-box;*/
  margin: 20px auto;
  border-radius: 10px;
}

.bienvenida--art {
  width: 100%;
  padding: 20px;
  /*box-sizing: border-box;*/
  margin: 10px auto;
  border-radius: 10px;
  text-align: justify;
}


/*SECION MODULES*/
.modules header h1{
  text-transform: uppercase; /*Mayusculas SOSTENIDAS*/
  font-size: 40px;
  color: #230F2B;
  margin-bottom: 10px;
  font-family: "Oswald";
}

.modules header p{
  padding-bottom: 10px;
  border-bottom: 2px solid #DDD;
  line-height: 20px;
  font-size: 15px;
  color: #333;
  margin-bottom: 13px;
}

.modules header div.wrap--btns{
  display: flex;
  justify-content: flex-end;
}

.modules header div.wrap--btns ul{
  display: flex;
  justify-content: space-between;
  /*min-width: 490px;*/
  min-width: auto;
  max-width: 490px;
  margin-bottom: 40px;
}

.modules header div.wrap--btns ul a{
  /*background: tomato;*/
  padding: 10px;
  border-radius: 0 0 8px 8px;
}

/*Fdy: Modifica la tabla css*/
.dataTables_wrapper .dataTables_paginate .paginate_button{
    border-radius: 8px;
}

.modules.internal-page header{
  display: flex;
  border-bottom: solid #ddd;
  margin-bottom: 40px;
}

/*Fusiona las dos clases mas lo que le ponga acá adentro*/
.modules.internal-page header h1{
  font-size: 30px;
}

.modules.internal-page header .breadcrums ul{
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*El counter-increment:   pa que no se corra y quede todo alineado*/
  padding: 8px 0;
  color: #9e9d9d;
}

header .breadcrums ul li{
  margin-right: 5px;
}

/*Seleiciona palabra, letra, primera ultima o la que señale*/
header .breadcrums ul li:last-child,
header .breadcrums ul li a:hover{
  color: #f21d41;
}


/*after= Depues. Se puede crear bordes pa crear flechs o cambiar diseños a los div*/
header .breadcrums ul li a:after{
  content: " / ";
}

.modules.internal-page header .breadcrums{
  margin: 0 15px;
}

.internal-page .wrap--frm .form-group{
  display: block;
  margin-bottom: 20px;
}

.internal-page .wrap--frm .form-group, label{
  display: block;
  font-size: 16px;
  color: #575962;
  margin-bottom: 8px;
}

.internal-page .wrap--frm .form-group input[type="text"],
.internal-page .wrap--frm .form-group input[type="email"],
.internal-page .wrap--frm .form-group input[type="number"],
.internal-page .wrap--frm .form-group textarea{
  /*border:1px solid #be3a3a;*/
  border:1px solid grey;
  width: 100%;
  padding: 8px;
  font-size: 16px;
  line-height: 1.25;
  border-radius: 10px;
  box-sizing: border-box;
  outline: none;
  transition: 1s;

}

.internal-page .wrap--frm .form-group, label{
    /*width: 45%;*/
}

.internal-page .wrap--frm .form-group input[type="text"]:focus,
.internal-page .wrap--frm .form-group input[type="email"]:focus,
.internal-page .wrap--frm .form-group input[type="number"]:focus,
.internal-page .wrap--frm .form-group textarea:focus{
  border-color: #F21D41;
}

.btn{
  display: inline-block;
  font-weight: 400;
  text-align: center;
  /*NO haga saldo de inea. Que agrande el boton*/
  white-space: nowrap;
  vertical-align: middle;
  /*Borde del boton por navegador*/
  user-select: none;
  -ms-user.select:none;
  -webkit-user.select:none;
  -moz-user.select:none;
  border: 1px solid transparent;
  padding: 10px 15px;
  font-size: 16px;
  line-height: 1.25;
  border-radius: 5px;
  /*Empieza rápido y termina lento*/
  transition: all .15s ease-in-out;
  outline: none;
  cursor: pointer;
}

.require:after{
    color: #999;
  font-size: italic;
  content: "*";
}

.optional:after{
  content: " (opcional)";
  color: #999;
  font-size: italic;
}

.menu--top .icon--mobile{
  position: absolute;
  left: 20px;
  cursor: pointer;
}

.icon--mobile{
  /*display: none;*/
}

th, tr { text-align: left;}
th:first-child{ width: 20px;}
th:last-child{  width: 100px;}


@media screen and (max-width:360px){
  .wrap--content .menu--top2{
    width: 50px;
  }
  .wrap--btns ul li a{
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    width: 120px;
    display: block;
    margin-right: 20px;
    text-align: center;
  }
}

@media screen and (max-width:820px){
  .hideTd{
    display: none;
  }
}


/*Aplica modificacion en toda la multimedia display de mi app*/
@media screen and (max-width:899px){

  header.main--nav{
    display: none;
  }

  .menu--top .icon--mobile{
    display: block;
  }

  .open--nav{
    display: block !important;
    position: absolute;
    z-index: 5; /*Profundidad Estara por encima de posicion absoluta 5 veces. Z INDEX SON NIVELES NO PIXELES*/
  }

  .open--nav .icon--mobile{
    position: absolute;
    right: 20px;
    top: 20px
    display: block;
  }

}
