/*
author: gisell gomez
license: apache 2.0
company: whatfood
update: actualizaciones fecha y lo que se actualizo

CONTENT RYLES CSS

1. landing page
2.top--nav
*/



@import "reset.css";
@import "colors.css";
@import url('https://fonts.googleapis.com/css?family=Lato|Oswald:400,500|Roboto|Roboto+Slab:400,700');



/*font-weight: 400; este es para el grosor de la letra */

body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: -moz-box;
    position: relative;
    -moz-box-flex: 1;
    -moz-user-focus: normal;
    -moz-box-orient: vertical;
}

/*landing*/

.bienvenida--landing {
 margin-left: auto;
 margin-right: auto;
 width: 100%;
 height: 100vh;
 background: url("../image/pizzacapa.jpg");
 background-repeat: no-repeat;
}

.botonrojo{
    width: 10%;
    padding: 8px 16px;
    /*display: inline-block;*/
    background: #f5270c;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #fff;
    font-family: "Oswald", "Roboto Slab", sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}

.bienvenida--landing .botonrojo{
    /*derecha*/
    margin-left: 500px;
    margin-top: 300px;
}

 .weap-image .intro p{
    color: #fff;
    font-family: "lato";
    font-size: 20px;
    margin-top: 320px;
    align-items: center;
}

/*SECION MODULES*/

.background-session{
  /*fondo se sesion*/
    background: url("../image/fondo_de_sesion.jpg");
    width: 100%;
    height: 100vh;
    /*esto me centr el recuadro amarillo */
    display: flex;
    justify-content: center;
    align-items: center;
}

.security{
  /*cuadro de sesion*/
    background-color: #f9f9f9;
    /*centrar el recuadro*/
    margin-left: auto;
    margin-right: auto;
    min-height: 364px;
    max-width: 412px;
    min-width: 320px;
    /*tamaño del cuadro */
    padding: 23px;
    margin-bottom: 28px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .55);
    border-radius: 3px;
    border: 4px solid #269fc1;
    justify-content: center;
    /*opacity: 0.40;
    filter: alpha(opacity(60));*/
}

.security header p{
    color: red;
}

.login{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}

.redes--sociales{
  margin-top: 100px;
  display: flex;
  justify-content: flex-end;
}

.btnred{
  padding: 3px 12px;
  background: #f5270c;
  color: #fff;
  border-radius: 5px;
  font-family: "Oswald", "Roboto Slab", sans-serif;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
}
