/*
author: gisell gomez
license: apache 2.0
company: whatfood
update: actualizaciones fecha y lo que se actualizo

CONTENT RYLES CSS

1. landing page
2. login
*/



@import "reset.css";
@import "colors.css";
@import url('https://fonts.googleapis.com/css?family=Lato|Oswald:400,500|Roboto|Roboto+Slab:400,700');



/*font-weight: 400; este es para el grosor de la letra */

body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: -moz-box;
    position: relative;
    -moz-box-flex: 1;
    -moz-user-focus: normal;
    -moz-box-orient: vertical;
    text-align: auto;
}

/*landing*/

.bienvenida--landing{
    width: 100%;
    height: 100vh;
    background: url("../image/restaurant-01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bienvenida--landing .capa{
  width: 100%;
  height: 100vh;
  background-color: rgba(96,1,1,0.48);
}

.bienvenida--landing  section{
    width: 50%;
    position: relative;
    margin: 0px;
}

.bienvenida--landing  div{
    width: 100%;
}

.bienvenida--landing .capa .logo{
    text-align: right;
    padding-right: 60px;
    justify-content: center;
    position: absolute;
    padding: 50px 40px;
}

.bienvenida--landing .capa .logo img{
    width: 25%;
    margin-top: 50px;
}

.bienvenida--landing .rp {
    font-size: 30px;
    font-family: "Lato", "Oswald" , sans-serif;
    color: #fffefe;
    margin-top: 193px;
    margin-left: 49px;
    display: block;
}

.bienvenida--landing  .rp .wtf{
    font-size: 18px;
    font-family: "Lato", "Oswald" , sans-serif;
    color: #fffefe;
    top: 5px;
    margin: 10px auto;
}

.bienvenida--landing  .rp .WF{
    font-size: 18px;
    font-family: "Lato", "Oswald" , sans-serif;
    color: #fffefe;
    margin-bottom: 20px;
}

.bienvenida--landing .rp .boton{
    padding: 4px 51px;
    background: #e7f9ff;
    color: #f5270c;
    border-radius: 16px;
    border: 1px solid #fff;
    font-family: "Lato","Oswald", "Roboto Slab", sans-serif;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    position: relative;
    /*padding: 5px 10px;*/
    right: 0;
}

.bienvenida--landing  .botonrojo{
    padding: 8px 16px;
    background: #f5270c;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #fff;
    font-family: "Oswald", "Roboto Slab", sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    /*padding: 5px 10px;*/
    right: 0;
}

.fix-nav {
  z-index: 9999;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.header-navigation {
  background-color: #fff;
  box-shadow: 0 0px 15px rgba(0,0,0,0.05);
}

.barr .nav-wrapper {
    position: relative;
    height: 100%;
    /*background-color: rgba(255,0,0,0);*/
    background-color: rgba(96,1,1,0.50);
    /*border-radius: 10px solid red;*/
}

#logo-landing{
  top: 1px;
  /*width: 21%;*/
  font-size: 20px;
  font-family: "Roboto";
  text-align: left;
  margin-left: 16px;
}

.barr ul a{
  color: #dfdfdf;
  font-family: "Roboto","Roboto Slab","Oswald", sans-serif;
  font-size: 15px;
}

.barr ul a:hover {
    /*background-color: #f5270c;*/
    color: #dfdfdf;
}

.silueta{
  margin-top: -149px;
}

.landing--two{
  width: 100%;
  height: 100vh;
  position: relative;
}

.landing--two .que-es{
  width: 40%;
  margin: 40px auto 40px 139px;
}

.landing--two .plato {
  width: 50%;
  position: absolute;
  bottom: auto;
  left: 0px;
}

.landing--two .intro{
    color: #7b7b7b;
    font-family: "Lato";
    font-size: 20px;
    position: absolute;
    right: 10px;
    height: 40%;
    width: 40%;
}

/*SECCION MODULOS DE SESION*/

.background-session{
  /*fondo de sesion*/
    background: url("../image/red-wine.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
    /*esto me centr el recuadro amarillo */
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-session .security{
  /*cuadro de sesion*/
    background-color: #f9f9f9;
    /*centrar el recuadro*/
    margin-left: auto;
    margin-right: auto;
    min-height: 364px;
    max-width: 356px;
    min-width: 320px;
    /*tamaño del cuadro */
    padding: 23px;
    margin-bottom: 28px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .55);
    border-radius: 3px;
    border: 6px solid #8f5952;
    justify-content: center;
}

.background-session .security .login{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

.background-session .security .login form{
   width: 95%;
}

.background-session .security header .h1food{
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.background-session .security header .h1food img{
  width: 60%;
}

.background-session .security header p{
    color: #269fc1;
    margin-top: 40px;
    font-size: 17px;
    margin-left: 25px;
    font-family: "lato", sans-serif;
}

.background-session .security .login .registro{
  color: #89524b;
  margin-top: -22px;
  margin-left: 8px;
  font-family: "lato", sans-serif;
}

.background-session .security .login .registro .regis{
  display: flex;
  font-size: 14px;
}

.background-session .security .login .entra{
  display: flex;
  font-size: 12px;
  color: #000;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
}

.background-session .security .redes--sociales a .app{
  display: flex;
  font-size: 20px;
  margin-top: 30px;
}

.background-session .security .red{
  color: #269fc1;
}

.background-session .security .redes--sociales{
  margin-top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-session .security .redes--sociales ul{
    display: flex;
    font-size: 16px;
}

.background-session .security .redes--sociales ul li{
    margin-left: 10px;
    margin-right: 10px;
}

.background-session .security .login .btnred{
  padding: 5px 12px;
  background: #f5270c;
  color: #fff;
  border-radius: 5px;
  font-family: "Oswald", "Roboto Slab", sans-serif;
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 18px;
  margin-left: 178px;

}

.session .background-session .security .login .form-group{
    display: block;
    margin-bottom: -11px;
    /*margin-right: 60px;*/
}

.session .background-session .security .login .olvidt{
    display: block;
    margin-bottom: 6px;
    margin-top: 6px;
    color: #85bfd0;
    justify-content: flex-end;
    display: flex;
}

 .session .background-session .login .form-group input[type="email"],
 .session .background-session .login .form-group input[type="text"],
 .session .background-session .login .form-group input[type="password"]{
     padding: 10px;
     /*separacion de parrafos o lineas*/
     line-height: 1.25;
     /*para que no se pase de el max del contenido*/
     box-sizing: border-box;
 }


.session .background-session .login .form-group input[type="email"]:focus, .session .background-session .login .form-group input[type="text"]:focus, .session .background-session .login .form-group input[type="password"]:focus {
    border-color: #8f5952;
}

input:focus:not([type]):not([readonly]) + label, input[type="text"]:focus:not(.browser-default):not([readonly]) + label, input[type="password"]:focus:not(.browser-default):not([readonly]) + label, input[type="email"]:focus:not(.browser-default):not([readonly]) + label, input[type="url"]:focus:not(.browser-default):not([readonly]) + label, input[type="time"]:focus:not(.browser-default):not([readonly]) + label, input[type="date"]:focus:not(.browser-default):not([readonly]) + label, input[type="datetime"]:focus:not(.browser-default):not([readonly]) + label, input[type="datetime-local"]:focus:not(.browser-default):not([readonly]) + label, input[type="tel"]:focus:not(.browser-default):not([readonly]) + label, input[type="number"]:focus:not(.browser-default):not([readonly]) + label, input[type="search"]:focus:not(.browser-default):not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #8f5952;
}

input:focus:not([type]):not([readonly]), input[type="text"]:focus:not(.browser-default):not([readonly]), input[type="password"]:focus:not(.browser-default):not([readonly]), input[type="email"]:focus:not(.browser-default):not([readonly]), input[type="url"]:focus:not(.browser-default):not([readonly]), input[type="time"]:focus:not(.browser-default):not([readonly]), input[type="date"]:focus:not(.browser-default):not([readonly]), input[type="datetime"]:focus:not(.browser-default):not([readonly]), input[type="datetime-local"]:focus:not(.browser-default):not([readonly]), input[type="tel"]:focus:not(.browser-default):not([readonly]), input[type="number"]:focus:not(.browser-default):not([readonly]), input[type="search"]:focus:not(.browser-default):not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  box-shadow: 0 1px 0 0 #8f5952;
}

/*seccion de registro*/

.registry div{
  min-height: 100vh;
}

.registry{
  display:grid;
  grid-template-columns: 60% 40%
}

.section--left{
  background: url("../image/cup-01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.section--right{
  background-color: #f9f9f9;
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  box-shadow: 0 2px 3px rgba(0, 0, 0, .55);
  border-radius: 3px;
  border: 3px solid #e0f6fd;
}

.section--right .security{
  position: absolute;
}

/*.background-registry{
  fondo de regristros
    background: url("../image/red-wine.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
    esto me centr el recuadro amarillo
    display: flex;
    justify-content: center;
    align-items: center;
}*/

/*.section--right .security{
    background-color: #f9f9f9;
    margin-left: auto;
    margin-right: auto;
    min-height: 374px;
    min-width: 320px;
    max-width: 730px;
    max-height: 447px;
    padding: 23px;
    margin-bottom: 28px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .55);
    border-radius: 3px;
    border: 6px solid #8f5952;
    justify-content: center;
}*/

/*.section--right .security header .h1food{
    margin-top: 0px;
}

.section--right .security header .h1food img{
  width: 30%;
}*/

.section--right .security .login{
    display: flex;
    /*align-items: center;*/
    /*justify-content: center;*/
    /*margin-top: 20px;*/
    /*width: 100%;*/
}

.section--right .security .login form{
   /*width: 95%;*/
}

.registry .section--right .security .login .form-group{
    display: block;
    /*margin-bottom: -11px;*/
    /*margin-right: 60px;*/
}

.registry .section--left .fon .log{
  /*position: absolute;*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.registry .section--left .fon .log img{
  width: 40%;
}

.registry .section--left .fon{
  width: auto;
  height: 100vh;
  background-color: rgba(224,246,253,0.48);
}


.section--right .security .login .btnregistry{
  padding: 5px 12px;
  background: #f5270c;
  color: #fff;
  border-radius: 5px;
  font-family: "Oswald", "Roboto Slab", sans-serif;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
  margin-left: 252px;

}

 /*1. section del menu principal */
 section.container{
    display: flex;
    /*font-family: 'Oswald', "lato", "Roboto Slab" sans-serif;*/
    /*la principla es la primera si no carga se pone la segunda y si no de las misma familia sans-serif*/
    font-size: 18px;
    width: 100%;
    height: 100%;
      /*este es el color de abajo de la tabla */
    background: #efefef;
 }

/*lado de navegacion toda la seccion izquierda del dashboard */
 .main--nav{
     /*el max y el min es para cuando la pantalla sea mas pequeña el diseño no se dañe*/
     max-width: 200px;
     min-width: 200px;
     background: #000;
     min-height: 100vh;
     color: #eee;
     /*este es todo es el espacio negro */
 }

/*esto son del navigator del lado izquierdo*/
 .main--nav nav ul {
     margin-top: 20px;
     padding-top: 20px;
     border-top: 2px solid rgba(255, 255, 255, 0.3);
     box-shadow: 0 -5px 0 rgba(0, 0, 0, 0.2);
 }

 .main--nav nav ul li{
     /*este sapara las listas */
     padding: 16px;
     transition: all 0.3s ease;
 }

 .main--nav nav ul li:hover{
     background-color: #eee;
     color: #35b4db;
     /*este es para un pequeño borde de la esquina iz de color fucsia*/
     border-left: 10px solid #269fc1;
     padding: 25px;
     font-size: 20px;
 }

/*seccion del perfil la imagen y el nombre */
.userProfile{
    width: 90%;
    padding: 20px 15px;
    /*el primero esde arriba y abajo y el segundo es de los lados */
    /*el padding: es la separacion de el elemneto y el contenedor*/
    box-sizing: border-box;
    /*ese es le 90% no se pase de el borde de el padre*/
    margin: auto;
    text-align: center;
}

.userProfile--img{
  /*este es el padre de la imagen */
    width: 70%;
    margin: 0 auto 20px;
    border-radius: 50px;
}

.userProfile--img img{
  /*este es de la imagen del perfil como tal */
    border-radius: 180px;
    /*filter: blur(5px);*/
    filter: grayscale(100%);
    /*filter: drop-shadow(-10px 10px 0px);*/
    /*generarle a la imagen un contenedor a la img */
    /*positivos lado der negativos iz */
    /*el tercero expande o contrae */
    /*filter: opacity(90%);*/
    /*filter: hue-rotate(40deg);*/
    border: 3px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
}

.userProfile .userPprofile--name h2{
    font-family: "Oswald";
    /*para el groser seria:*/
    font-weight: 700;
    color: #f8f4f4;
}

/*navegacion en el menu de administracion*/
.item{
  display: flex;
  align-items: center;
}

/*dashboard, pagina de administracion */
.bienvenida {
    /*parte del dashboard donde da la bienvenida*/
    padding: 15px;
    margin: 20px auto;
    border-radius: 10px;
}

/*este wrap--content es todo el lado izquiero donde se muestra las cargas articulos tabalas etc*/
 .wrap--content{
   width: 100%;
 }

 .wrap--content article{
   /*este es el color de toda la tabla*/
   background: white;
   width: 90%;
   padding: 20px;
   box-sizing: border-box;
   margin: 90px auto;
   border-radius: 10px;
 }

 .wrap--content article{
   margin: 40px auto;
   border-radius: 10px;
 }

.wrap--content .menu--top ul{
  width: 200px;
  display: flex;
  justify-content: space-around;
  /*el color es cuando pase el cursor cambie a este color*/
  color: #000;
}

.wrap--content .menu--top{
  display: flex;
  justify-content: flex-end;
  padding: 10px 0px;
  /*este es el color de la barra de arriba*/
  background: #269fc1;
}

/*aplicar una modificacion media en la aplicacion y la propiedad visible */
/*responsive de la landing */
@media screen and (max-width:682px){
  .silueta {
    margin-top: -65px;
  }
  .bienvenida--landing .capa .logo img {
    width: 35%;
    margin-top: 50px;
  }
  .bienvenida--landing section {
    top: -40px;
  }
  .landing--two .intro {
    font-size: 16px;
    width: 28%;
    height: auto;
  }
  .landing--two .intro p{
    margin-top: -50px;
  }
  .landing--two .plato {
    width: 64%;
    bottom: 60px;
  }
  .landing--two .que-es {
    margin: 40px auto 22px 80px;
  }
  #logo-landing {
    width: 2%;
    left: 0px;
    font-size: 17px;
  }
  .hide-on-med-and-down {
    display: flex !important;
  }
  .app1{
    display: none;
  }
  .barr ul a{
    font-size: 14px;
  }
}

@media screen and (max-width: 1047px){
    .silueta {
        margin-top: -115px;
    }
}
@media screen and (max-width:1091px){
    .silueta {
      margin-top: -118px;
    }
}
@media screen and (max-width:570px){
  .silueta {
    margin-top: -51px;
  }
  .bienvenida--landing .rp {
    font-size: 24px;
    margin-top: 172px;
  }
  .landing--two .intro {
    width: 32%;
  }
  .bienvenida--landing .rp .wtf {
    font-size: 16px;
  }
  .bienvenida--landing .rp .WF {
    font-size: 16px;
  }
  .bienvenida--landing .rp .boton{
    font-size: 16px;
  }
}

@media screen and (max-width:580px){
  .silueta {
    margin-top: -58px;
  }
}

@media screen and (max-width:520px){
  .silueta {
    margin-top: -51px;
  }
}

@media screen and (max-width:451px){
  .silueta {
    margin-top: -48px;
  }
  .landing--two .intro {
    display: contents;
  }
  .landing--two .intro p {
    margin-top: 98px;
    padding: 18px;
  }
  .landing--two .plato {
    width: 75%;
    bottom: -28px;
    position: absolute;
    align-items: center;
    left: 40px;
  }
  .landing--two .que-es {
    margin: 40px auto 20px 60px;
    width: 50%;
    position: absolute;
    align-items: center;
    left: 40px;
  }
}

@media screen and (max-width:439px){
  .silueta {
    margin-top: -46px;
  }
  .bienvenida--landing .rp {
    font-size: 22px;
  }
  .bienvenida--landing .rp {
    margin-left: 31px;
  }
  .bienvenida--landing .capa .logo img {
    width: 40%;
    margin-top: 78px;
    margin: 78px -13px;
  }
  .landing--two .intro {
    display: contents;
  }
  .landing--two .intro p {
    margin-top: 98px;
    padding: 18px;
  }
  .landing--two .plato {
    width: 75%;
    bottom: -28px;
    position: absolute;
    align-items: center;
    left: 40px;
  }
  .landing--two .que-es {
    margin: 40px auto 20px 60px;
    width: 50%;
    position: absolute;
    align-items: center;
    left: 40px;
  }
}

@media screen and (max-width:485px){
  .bienvenida--landing .rp .boton {
    font-size: 14px;
    padding: 4px 37px;
  }
  #logo-landing{
    display: none;
  }
  .barr ul a{
    font-size: 13px;
    margin-left: 8px;
  }
}

@media screen and (max-width:415px){
  #logo-landing{
    display: none;
  }
  .barr ul a{
    font-size: 13px;
    margin-left: 8px;
  }
  .bienvenida--landing .rp {
    font-size: 17px;
    margin-left: 29px;
  }
  .bienvenida--landing .rp .wtf {
    font-size: 14px;
  }
  .bienvenida--landing .rp .WF {
    font-size: 14px;
  }
  .bienvenida--landing .rp .boton {
    font-size: 10px;
    padding: 4px 47px;
  }
  .bienvenida--landing .capa .logo img {
    width: 40%;
    margin-top: 50px;
    margin: 50px -14px;
  }
  .silueta {
    margin-top: -43px;
  }
  .landing--two .que-es {
    margin: 40px auto 20px 60px;
    width: 50%;
    position: absolute;
    align-items: center;
    left: 40px;
  }
  .landing--two .intro{
    display: contents;
  }
  .landing--two .intro p {
    margin-top: 98px;
    padding: 18px;
    font-size: 15px;
  }
  .landing--two .plato {
    width: 75%;
    bottom: 0px;
    position: absolute;
    align-items: center;
    left: 40px;
  }
}

@media screen and (max-width:397px){
  .barr ul a{
    font-size: 14px;
    margin-left: 11px;
  }
  .barr .what{
    display: none;
  }
  .bienvenida--landing .capa .logo img {
    width: 41%;
    margin: 58px -14px;
  }
}

@media screen and (max-width:367px){
  .bienvenida--landing .rp .boton {
    font-size: 10px;
    padding: 4px 38px;
  }
  .silueta {
    margin-top: -39px;
  }
}

@media screen and (max-width:385px){
  .bienvenida--landing .rp .boton {
    padding: 4px 38px;
    font-size: 10px;
  }
  .silueta {
    margin-top: -36px;
  }
  .bienvenida--landing .rp .wtf {
    font-size: 13px;
  }
  .bienvenida--landing .rp .WF {
    font-size: 13px;
  }
  .bienvenida--landing .capa .logo img {
    width: 43%;
    margin: 60px -21px;
  }
  .landing--two .intro p {
    font-size: 14px;
  }
}

@media screen and (max-width:328px){
  .barr ul a{
    font-size: 13px;
  }
  .bienvenida--landing .rp .boton {
    padding: 4px 36px;
    font-size: 10px;
  }
}

@media screen and (max-width:319px){
  .bienvenida--landing .rp .boton {
    padding: 4px 32px;
    font-size: 10px;
  }
  .bienvenida--landing .rp {
    font-size: 16px;
  }
  .barr ul a{
    font-size: 13px;
  }
}

@media screen and (max-width:322px){
  .bienvenida--landing .rp .boton {
    padding: 4px 27px;
    font-size: 10px;
  }
  .silueta {
    margin-top: -31px;
  }
  .landing--two .que-es {
    margin: 40px auto 20px 31px;
  }
  .landing--two .intro p {
    font-size: 13px;
  }
  .bienvenida--landing .rp {
    font-size: 15px;
  }
  .bienvenida--landing .capa .logo img {
    width: 49%;
    margin: 103px -26px;
  }
  .barr ul a{
    font-size: 12px;
  }
}

@media screen and (max-width:283px){
  .silueta {
    margin-top: -29px;
  }
  .bienvenida--landing .rp .boton {
    padding: 4px 23px;
    font-size: 10px;
  }
  .bienvenida--landing .rp {
    font-size: 14px;
    margin-left: 23px;
  }
  .bienvenida--landing .rp .wtf {
    font-size: 12px;
  }
  .bienvenida--landing .rp .WF {
    font-size: 12px;
  }
}
